.app-header {
  display: flex;
  justify-content: center;
}

.movie-search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  width: 60%;
  margin: 0 auto;
}

.search-field {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 1rem;
}

.search-field input {
  padding: 0.5rem;
  width: 80%;
  margin-right: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-field button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.suggestion {
  padding: 0.5rem;
  cursor: pointer;
}

.suggestion:hover {
  background-color: #f6f6f6;
}

ul {
  list-style-type: none;
}
